@charset "UTF-8";
/* 全域共用 */

*, *:before, *:after {
    box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Voltaire);
@font-face {
    font-family: 'hkpianpiantibz';
    src: url(../font/hkpianpiantibz.otf);
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: hsl(49, 97%, 74%);
    background-image: url(../images/bg_img.jpg);
}

html, body {
    font-family: "hkpianpiantibz", "游明朝", 'Noto Sans JP', sans-serif, 'Noto Sans TC', "MS Mincho", '微軟正黑體';
    -webkit-text-size-adjust: none;
}

main {
    width: 95%;
    margin: 0 auto;
}

button {
    cursor: pointer;
}

figure {
    margin: 10px 0;
    cursor: pointer;
    transition: .5s;
    /* background: #f2efef; */
    color: white;
}

figure:hover {
    background: #e6e1e1;
    color: black;
}

/* 頁首 選單 主視覺 */

header {
    display: flex;
}

/* .item::after {
    content: url('../images/small_triangle.png');
} */

/* .menu ul .item:hover {
    background: #ffffffc9;
    color: black;
    cursor: pointer;
} */

.top_video {
    position: relative;
}

.banner {
    display: flex;
    justify-content: center;
    margin: 30px auto 0;
    width: 90%;
    height: 90%;
}

/* 首頁上方左側 nav */

.top_menu {
    margin-top: 80px;
}

header>nav {
    font-family: 'hkpianpiantibz', sans-serif;
    color: #222;
    display: inline-block;
    position: absolute;
    z-index: 999;
    /* width: 110px; */
    font-size: 10px;
    margin-top: 70px;
}

header>nav>a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    text-transform: UPPERCASE;
    transform-origin: 0 0;
    transform: matrix(1, -0.4, 0, 1.2, 0, 100);
    padding: 8px 13px;
    margin-bottom: .4em;
    transition: .5s background;
    font-weight: 600;
    letter-spacing: 2.5px;
}

header>.top_menu>nav>a::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f1b0";
}

header>nav>.home {
    font-size: 28px;
    padding-right: 10px;
}

header>nav>a:nth-of-type(even) {
    border-right: 3px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

header>nav>a:nth-of-type(odd) {
    border-left: 3px solid;
}

header>nav>a:hover, nav>a:focus {
    background: #8b8b8b;
    color: #fff;
    box-shadow: inset 100px 0 0 0 #131212;
    /* border-color: #8b8b8b; */
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

/* 首頁上方右側 Share */

.top_share {
    margin-top: 80px;
}

header>div>nav>a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    text-transform: UPPERCASE;
    transform-origin: 0 0;
    transform: matrix(1, -0.4, 0, 1.2, 0, 100);
    padding: 8px 13px;
    margin-bottom: .4em;
    transition: .5s background;
    font-weight: 600;
    letter-spacing: 2.5px;
}

/* header>div>nav>a::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f1b0";
} */

header>div>nav>.home {
    font-size: 28px;
    padding-right: 10px;
}

header>div>nav>a:nth-of-type(even) {
    border-right: 3px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

header>div>nav>a:nth-of-type(odd) {
    border-left: 3px solid;
}

header>div>nav>a:hover, nav>a:focus {
    background: #8b8b8b;
    color: #fff;
    box-shadow: inset 100px 0 0 0 #131212;
    /* border-color: #8b8b8b; */
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

/* 主內容 */

#about {
    /*視差卷軸*/
    background-image: url(../images/new_bg.jpg);
    background-size: cover;
    /* 背景全版面覆蓋(拉伸) */
    background-position: center center;
    /* 背景定位 */
    background-attachment: fixed;
    /* 背景固定 (不會跟著被滑動) */
    border-radius: 15px;
    /* opacity: .8;
    filter: blur(5px); */
}

/* 水平分隔線 */

.hr_line {
    border-top: 1px solid #bbbbbb;
    margin: 100px auto 0;
}

/* layout 與 RWD控制區 */

.main_content {
    display: flex;
    margin: 60px auto;
}

.main_half {
    width: 50%;
}

.main_third {
    width: 33.3%;
}

.main_third_one {
    width: 33.3%;
}

.main_third_two {
    width: 66.6%;
}

@media screen and (max-width:768px) {
    .main_content {
        display: block;
    }
    .main_half, .main_third, .main_third_one, .main_third_two {
        width: 100%;
    }
}

/* layout 與 RWD控制區 end */

.item_name {
    font-size: 6.5rem;
    color: #acacac;
    margin-bottom: 5%;
    line-height: 1;
    /* position: relative; */
    /* z-index: 2; */
}

.news {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.news>.news_item {
    display: flex;
    align-items: center;
    box-shadow: 2px 3px 12px #8b8b8b;
}

.news>.news_item>.news_img {
    width: 100px;
    height: 100px;
    background-size: cover;
    margin: 10px;
    box-shadow: 1px 2px 3px gray;
}

.news .news_item .cover_1 {
    background-image: url(../images/news_1.jpg)
}

.news .news_item .cover_2 {
    background-image: url(../images/news_2.jpg)
}

.news .news_item .cover_3 {
    background-image: url(../images/news_3.jpg)
}

.news .news_item figcaption {
    font-size: 1.2em;
    color: #967878;
}

.goods>.goods_item {
    width: 300px;
    margin: auto;
    box-shadow: 2px 3px 12px #8b8b8b;
}

.goods>#item_title {
    text-align: center;
    line-height: 20px;
    margin-top: 30px;
    font-size: 1.2em;
}

.vt_line:after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px solid #bbbbbb;
}

.vt_line {
    width: 10%;
    position: relative;
    text-align: center
}

.btn_area {
    width: 100%;
    margin: 10px 0;
    text-align: right;
}

.btn_area .btn_more {
    width: 100px;
    line-height: 30px;
    background-size: 200%;
    background-color: #ffffff00;
    transition: .3s;
    border: 1px solid black;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.btn_area .btn_more:hover {
    box-shadow: inset 100px 0 0 0 #131212;
    color: white;
}

/* 頁尾 */

.footer {
    background: rgba(182, 182, 182, 0.3);
    text-align: center;
    line-height: 50px;
    margin: 10px 0 0;
}

.menu_bottom ul {
    width: 80%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.menu_bottom a {
    color: #575757;
    text-decoration: none;
    transition: .5s;
}

.menu_bottom a:hover {
    color: black;
}

.menu_bottom ul li i {
    opacity: 0;
    transition: all 0.2s ease-out 0s;
    width: 30px;
}

.menu_bottom ul li:hover i {
    opacity: 1;
    right: 240px;
}

/* contact */

.contact-list {
    margin: auto;
}

.contact-list li {
    list-style-type: none;
    font-size: 1.4em;
}

/* pad版 */

@media (max-width:1023px) {
    main .item {
        width: 45%;
    }
}

/* 手機版 */

@media (max-width:500px) {
    main .item {
        width: 90%;
    }
}