@charset "UTF-8";
/* 全域共用 */

*, *:before, *:after {
    box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Voltaire);
@font-face {
    font-family: 'hkpianpiantibz';
    src: url(../font/hkpianpiantibz.otf);
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url(../images/bg_img.jpg);
}

html, body {
    display: block;
    font-family: "hkpianpiantibz", "游明朝", 'Noto Sans JP', sans-serif, 'Noto Sans TC', "MS Mincho", '微軟正黑體';
    -webkit-text-size-adjust: none;
}

header {
    display: flex;
}

button {
    cursor: pointer;
}

figure {
    margin: 10px 0;
    cursor: pointer;
    transition: .5s;
}

figure:hover {
    background: #fffafa;
    color: black;
}

h2 {
    font-family: 'hkpianpiantibz';
    font-size: 3.2em;
    color: #967878;
    line-height: 0px;
}

h3 {
    /* 日期標題 */
    font-size: 1.6em;
    text-align: right;
}

.news h2, .product h2 {
    text-align: center;
}

.news h2::before, .product h2::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f1b0";
}

.page_title h3:nth-last-child(1) {
    font-size: 1.2em;
    color: #b7a8a8;
}

.page_title h3:nth-last-child(1)::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f073";
}

.logo_text {
    text-align: center;
}

/* 主視覺 主選單 header區 */

main {
    width: 70%;
}

main, .top_video {
    margin: 0 auto 20px;
}

.top_video img {
    position: absolute;
    width: 100%;
    margin-top: 20px;
}

.top_menu, .top_share {
    position: absolute;
    width: 10%;
    z-index: 999;
}

.top_share {
    right: 0;
}

.menu {
    display: flex;
    cursor: pointer;
    color: white;
    position: absolute;
    padding: 0 250px;
    top: 80px;
    width: 100%;
}

.menu ul {
    display: flex;
    margin: auto;
    width: 100%;
    z-index: 9999;
    padding-inline-start: 0px;
}

.menu ul .item {
    flex: auto;
    border: 1px solid #c7c7c729;
    text-align: center;
    list-style: none;
    width: 120px;
    line-height: 50px;
    background: #646464bf;
    transition: .5s;
    font-size: 1.2em;
}

.menu ul .item:hover {
    background: #ffffffc9;
    color: black;
    cursor: pointer;
}

.top_video {
    position: relative;
}

.banner {
    display: flex;
    justify-content: center;
    margin: 30px auto 0;
    width: 90%;
    height: 90%;
}

@media screen and ( max-width:768px) {
    .banner {
        margin: 23px auto 0;
        width: 86%;
        height: 90%;
    }
}

@media screen and ( max-width:420px) {
    .banner {
        margin: 23px auto 0;
        width: 86%;
        height: 90%;
    }
}

header>nav {
    font-family: 'hkpianpiantibz', sans-serif;
    color: #222;
    display: inline-block;
    position: absolute;
    z-index: 999;
    /* width: 110px; */
    font-size: 10px;
    margin-top: 70px;
}

header>nav>a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    text-transform: UPPERCASE;
    transform-origin: 0 0;
    transform: matrix(1, -0.4, 0, 1.2, 0, 100);
    padding: 8px 13px;
    margin-bottom: .4em;
    transition: .5s background;
    font-weight: 600;
    letter-spacing: 2.5px;
}

header>.top_menu>nav>a:hover::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f1b0";
}

header>nav>.home {
    font-size: 28px;
    padding-right: 10px;
}

header>nav>a:nth-of-type(even) {
    border-right: 3px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

header>nav>a:nth-of-type(odd) {
    border-left: 3px solid;
}

header>nav>a:hover, nav>a:focus {
    background: #8b8b8b;
    color: #fff;
    box-shadow: inset 100px 0 0 0 #131212;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

header>div>nav>a {
    display: block;
    text-decoration: none;
    color: inherit;
    text-transform: UPPERCASE;
    transform-origin: 0 0;
    transform: matrix(1, -0.4, 0, 1.2, 0, 100);
    padding: 8px 13px;
    margin-bottom: .4em;
    transition: .5s background;
    font-weight: 600;
    letter-spacing: 2.5px;
}

header>div>nav>.home {
    padding-right: 10px;
}

header>div>nav>a:nth-of-type(even) {
    border-right: 3px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

header>div>nav>a:nth-of-type(odd) {
    border-left: 3px solid;
}

header>div>nav>a:hover, nav>a:focus {
    background: #8b8b8b;
    color: #fff;
    box-shadow: inset 100px 0 0 0 #131212;
    /* border-color: #8b8b8b; */
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

/* 手機選單 */

.top_menu_moblie, .social_contact {
    display: none;
    margin: auto;
    width: 90%;
    padding-bottom: 5%;
}

@media screen and (max-width:768px) {
    .top_menu, .top_share {
        display: none;
    }
    .top_menu_moblie, .social_contact {
        display: flex;
        justify-content: space-around;
    }
}

.top_menu_moblie div {
    width: 50%;
}

.top_menu_moblie .menu_mobile_1 {
    background-color: #ff7b7b;
    width: 95%;
    height: 210px;
    margin: auto;
}

.top_menu_moblie .menu_mobile_2 {
    background-color: #7bff8f;
    width: 95%;
    height: 100px;
    margin: auto;
}

.top_menu_moblie .menu_mobile_3 {
    background-color: #7b9eff;
    width: 95%;
    height: 100px;
    margin: auto;
}

.social_contact a {
    color: black;
    text-decoration: none;
    opacity: 1;
    transition: .7s;
}

/* 頁尾 */

.footer {
    background: #4a4a4a;
    text-align: center;
    line-height: 50px;
    color: white
}

/* @media screen and (max-width:768px) {
    .footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        line-height: 30px;
    }
} */

.menu_bottom ul {
    width: 80%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.menu_bottom a {
    color: #575757;
    text-decoration: none;
    transition: .5s;
}

.menu_bottom a:hover {
    color: black;
}

.menu_bottom ul li i {
    opacity: 0;
    transition: all 0.2s ease-out 0s;
    width: 30px;
}

.menu_bottom ul li:hover i {
    opacity: 1;
    right: 240px;
}

@media screen and (max-width:768px) {
    .menu_bottom {
        display: none;
    }
}

/* contact */

.contact_layout {
    margin-top: 20px;
}

.contact-list {
    margin: auto;
}

.contact-list li {
    list-style-type: none;
    font-size: 1.2em;
    line-height: 30px;
}

/* layout 與 RWD控制區 */

/* index */

.main_content {
    display: flex;
    margin: 10px 0 0;
}

.main_half {
    width: 50%;
}

.main_third {
    width: 33.3%;
}

.main_third_one {
    width: 33.3%;
    padding: 0 10px;
}

.main_third_two {
    width: 66.6%;
    padding: 0 10px;
}

@media screen and (max-width:768px) {
    .main_content {
        display: block;
    }
    .main_half, .main_third, .main_third_one, .main_third_two {
        width: 100%;
    }
}

.layout {
    width: 100%;
    padding: 20px;
    margin: 30px 0;
}

.layout_border {
    border: 1px solid #aaaaaa;
    border-radius: 10px;
}

/* news */

.news {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.news_img_inside {
    width: 30%;
    height: 299px;
    background-size: cover;
    margin: 10px;
    box-shadow: 1px 2px 3px gray;
}

.news>.news_item {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    box-shadow: 1px 1px 5px #1313133b;
}

.news>.news_item>.content {
    width: 70%;
    margin: 10px;
}

@media screen and (max-width:768px) {
    .news>.news_item {
        display: block;
    }
    .news>.news_item>.content, .news_img_inside {
        width: 100%;
        margin: 0px;
        margin-bottom: 10px
    }
}

.news .news_item .cover_1 {
    background-image: url(../images/news_1.jpg)
}

.news .news_item .cover_2 {
    background-image: url(../images/news_2.jpg)
}

.news .news_item .cover_3 {
    background-image: url(../images/news_3.jpg)
}

.news .news_item .cover_4 {
    background-image: url(../images/news_4.jpg)
}

.news .news_item .cover_5 {
    background-image: url(../images/news_5.jpg)
}

.news .news_item figcaption {
    font-size: 1.2em;
    color: #967878;
}

.btn_area {
    width: 100%;
    margin: 10px 0;
    text-align: right;
}

.btn_area .btn_more {
    width: 100px;
    line-height: 30px;
    background-size: 200%;
    background-color: #ffffff00;
    transition: .3s;
    border: 1px solid black;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.btn_area .btn_more:hover {
    box-shadow: inset 100px 0 0 0 #131212;
    color: white;
}

/* products */

.goods {
    display: flex;
    flex-wrap: wrap;
}

.goods .goods_item {
    width: 30%;
    margin: 1.65%;
    align-items: center;
    box-shadow: 1px 1px 5px #1313133b;
}

.goods .goods_item figcaption {
    text-align: center;
    cursor: pointer;
    line-height: 30px;
}

.goods .goods_item .goods_img img {
    width: 100%;
}

@media screen and (max-width:1059px) {
    .goods .goods_item {
        width: 49%;
        margin: .5%;
        margin-bottom: 5%;
    }
}

@media screen and (max-width:768px) {
    .goods .goods_item {
        width: 100%;
    }
}

.go_shop {
    height: 100%;
    display: flex;
    /* background: #fffafa; */
    transition: .5s;
}

/* .go_shop:hover {
    background: #cec8c8;
} */

.go_shop span {
    align-content: center;
    margin: auto;
    padding: 40px 60px;
}

.go_shop span p {
    white-space: nowrap;
}

@media screen and (max-width:768px) {
    .go_shop span {
        padding: 40px 0px;
    }
}

/* swiper */

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/* about */

/* about關於我區 */

.about {
    display: flex;
    /* flex: 2; */
    align-items: center;
    position: relative;
    width: 100%;
    height: 900px;
}

.title {
    font-size: 60px;
    color: #000;
    line-height: 100px;
    position: absolute;
    left: -650px;
    z-index: 1;
}

#box1 {
    height: 77px;
    width: 120px;
    position: absolute;
    top: 3%;
    margin-left: 10px;
    transform: translateY(-50%);
    overflow: hidden;
}

#box2 {
    height: 77px;
    width: 270px;
    position: absolute;
    top: 3%;
    margin-left: 180px;
    transform: translateY(-50%);
    overflow: hidden;
}

#box1 .colorLayer {
    height: 77px;
    width: 120px;
    /* background: url(../images/bg_img.jpg); */
    background: #000;
    position: absolute;
    left: -120px;
    z-index: 9;
}

#box2 .colorLayer {
    height: 77px;
    width: 270px;
    /* background: url(../images/bg_img.jpg); */
    background-color: #fff;
    position: absolute;
    left: -270px;
    z-index: 9;
}

/*----------------MIUMIU-----------------*/

#box3 {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 39%;
    /* margin-left: 200px; */
    transform: translateY(-50%);
    overflow: hidden;
}

.colorLayer2 {
    height: 500px;
    width: 400px;
    background-color: #000;
    position: absolute;
    left: -400px;
    z-index: 9;
}

#box3 .image img {
    width: 65%;
    position: absolute;
    left: -400px;
    z-index: 1;
}

#box4 {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 34%;
    /* right: 0%; */
    margin-left: 300px;
    transform: translateY(-50%);
    overflow: hidden;
}

.colorLayer3 {
    height: 400px;
    width: 400px;
    background-color: #fff;
    position: absolute;
    left: -400px;
    z-index: 9;
}

#box4 .info {
    /* height: 320px;
    width: 320px; */
    /* font-family: monospace; */
    font-size: 22px;
    line-height: 45px;
    color: #2D2D2D;
    padding: 40px;
    text-align: justify;
    position: absolute;
    left: -400px;
    z-index: 1;
}

/*----------------ONON-----------------*/

#box5 {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 82%;
    /* margin-left: 150px; */
    right: 20%;
    transform: translateY(-50%);
    overflow: hidden;
}

.colorLayer4 {
    height: 400px;
    width: 400px;
    background-color: #000;
    position: absolute;
    left: -400px;
    z-index: 9;
}

#box5 .info {
    /* height: 320px;
    width: 320px; */
    /* font-family: monospace; */
    font-size: 22px;
    line-height: 45px;
    color: #2D2D2D;
    padding: 40px;
    text-align: justify;
    position: absolute;
    left: -400px;
    z-index: 1;
}

#box6 {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 83%;
    left: 70%;
    /* margin-left: 420px; */
    transform: translateY(-50%);
    overflow: hidden;
}

.colorLayer5 {
    height: 400px;
    width: 400px;
    background-color: #fff;
    position: absolute;
    left: -400px;
    z-index: 9;
}

#box6 .image img {
    width: 70%;
    position: absolute;
    left: -400px;
    z-index: 1;
}

/* news_page */

.page_title {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

@media screen and (max-width:768px) {
    .page_title {
        display: block;
    }
    .page_title h3:nth-child(1) {
        text-align: left;
    }
}

.page_subtitle {
    text-align: center;
    font-size: 1.6em;
    border-top: 1px dashed #aaaaaa;
    padding-top: 50px;
}

.page_layout {
    width: 100%;
    display: flex;
    padding: 5% 0;
    border-top: 4px double #aaaaaa;
}

.page_text {
    width: 60%;
}

.page_img {
    width: 40%;
}

@media screen and (max-width:768px) {
    .page_layout {
        display: block;
    }
    .page_text {
        width: 100%;
    }
    .page_img {
        width: 100%;
    }
}

.page_img img {
    width: 100%;
    box-shadow: 1px 2px 3px gray;
}

.page_video {
    width: 100%;
    padding-bottom: 5%;
}

.page_video iframe {
    width: 100%;
    box-shadow: 1px 2px 3px gray;
}

.page_relation {
    display: flex;
    flex-flow: row wrap;
}

.page_relation figure {
    flex: 0 0 24%;
    margin: 10px auto;
}

.page_relation figure img {
    width: 220px;
    box-shadow: 1px 2px 3px gray;
    cursor: pointer;
    opacity: .7;
    transition: .7s
}

.page_relation figure img:hover {
    opacity: 1;
    background: #00000000 !important;
}

.page_relation figure:hover {
    opacity: 1;
    background: #00000000 !important;
}
