@charset "UTF-8";
/* 全域共用 */

*, *:before, *:after {
    box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Voltaire);
@font-face {
    font-family: 'hkpianpiantibz';
    src: url(../font/hkpianpiantibz.otf);
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url(../images/bg_img.jpg);
}

html, body {
    display: block;
    font-family: "hkpianpiantibz", "游明朝", 'Noto Sans JP', sans-serif, 'Noto Sans TC', "MS Mincho", '微軟正黑體';
    -webkit-text-size-adjust: none;
}

header {
    display: flex;
}

button, a {
    cursor: pointer;
}

figure {
    margin: 10px 0;
    cursor: pointer;
    transition: .5s;
}

figure:hover {
    background: #fffafa;
    color: black;
}

h2 {
    font-family: 'hkpianpiantibz';
    font-size: 3.2em;
    color: #967878;
    line-height: 0px;
}

h3 {
    /* 日期標題 */
    font-size: 1.6em;
    text-align: right;
}

.news h2, .product h2, .contact h2 {
    text-align: center;
}

.news h2::before, .product h2::before, .contact h2::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f1b0";
}

.page_title h3:nth-last-child(1) {
    font-size: 1.2em;
    color: #b7a8a8;
}

.page_title h3:nth-last-child(1)::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f073";
}

.logo_mb {
    display: none;
    margin: auto;
    position: absolute;
    width: 30%;
    right: 0;
    z-index: 99;
}

.logo_mb img {
    width: 100%;
}

.logo_text {
    text-align: center;
}

@media screen and (max-width:768px) {
    .logo_mb {
        display: block;
    }
}

/* 主視覺 主選單 header區 */

main {
    width: 70%;
}

@media screen and (max-width:768px) {
    main {
        width: 90%;
    }
}

main, .top_video {
    margin: 0 auto 20px;
}

.top_video img {
    position: absolute;
    width: 100%;
}

.top_menu, .top_share {
    position: fixed;
    width: 160px;
    z-index: 999;
}

.top_menu nav a {
    /* padding: 20%; */
}

.top_share {
    position: fixed;
    right: 0;
}

.menu {
    display: flex;
    cursor: pointer;
    color: white;
    position: absolute;
    padding: 0 250px;
    top: 80px;
    width: 100%;
}

.menu ul {
    display: flex;
    margin: auto;
    width: 100%;
    z-index: 9999;
    padding-inline-start: 0px;
}

.menu ul .item {
    flex: auto;
    border: 1px solid #c7c7c729;
    text-align: center;
    list-style: none;
    width: 120px;
    line-height: 50px;
    background: #646464bf;
    transition: .5s;
    font-size: 1.2em;
}

.menu ul .item:hover {
    background: #ffffffc9;
    color: black;
    cursor: pointer;
}

.top_video {
    position: relative;
    width: 80%;
}

@media screen and (max-width:768px) {
    .top_video {
        width: auto;
    }
    .top_video img {
        display: none;
    }
}

.banner {
    display: flex;
    justify-content: center;
    margin: 0 auto 0;
    width: 98%;
    height: 90%;
}

@media screen and ( max-width:768px) {
    .banner {
        margin: auto;
        height: 90%;
    }
}

@media screen and ( max-width:420px) {
    .banner {
        margin: 23px auto 0;
        width: 86%;
        height: 90%;
    }
}

header>nav {
    font-family: 'hkpianpiantibz', sans-serif;
    color: #222;
    display: inline-block;
    position: absolute;
    z-index: 999;
    font-size: 10px;
    margin-top: 70px;
}

header>nav>a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    text-transform: UPPERCASE;
    transform-origin: 0 0;
    transform: matrix(1, -0.4, 0, 1.2, 0, 100);
    padding: 8px 13px;
    margin-bottom: .4em;
    transition: .5s background;
    font-weight: 600;
    letter-spacing: 2.5px;
}

header>.top_menu>nav>a:hover::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f1b0";
}

header>nav>.home {
    font-size: 28px;
    padding-right: 10px;
}

header>nav>a:nth-of-type(even) {
    border-right: 3px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

header>nav>a:nth-of-type(odd) {
    border-left: 3px solid;
}

header>nav>a:hover, nav>a:focus {
    background: #8b8b8b;
    color: #fff;
    box-shadow: inset 100px 0 0 0 #131212;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

header>div>nav>a {
    display: block;
    text-decoration: none;
    color: inherit;
    text-transform: UPPERCASE;
    transform-origin: 0 0;
    transform: matrix(1, -0.4, 0, 1.2, 0, 100);
    padding: 8px 13px;
    margin-bottom: .4em;
    transition: .5s background;
    font-weight: 600;
    letter-spacing: 2.5px;
}

header>div>nav>.home {
    padding-right: 10px;
}

header>div>nav>a:nth-of-type(even) {
    border-right: 3px solid;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

header>div>nav>a:nth-of-type(odd) {
    border-left: 3px solid;
}

header>div>nav>a:hover, nav>a:focus {
    background: #8b8b8b;
    color: #fff;
    box-shadow: inset 100px 0 0 0 #131212;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

/* 手機選單 */

.top_menu_moblie, .social_contact {
    display: none;
    margin: auto;
    width: 90%;
    padding-bottom: 5%;
}

@media screen and (max-width:768px) {
    .top_menu, .top_share {
        display: none;
    }
    .top_menu_moblie, .social_contact {
        display: flex;
        justify-content: space-around;
    }
}

.top_menu_moblie>div {
    width: 50%;
}

.top_menu_moblie .menu_mobile_1 {
    background-image: url(../images/m1.jpg);
    background-size: cover;
    opacity: .5;
    width: 95%;
    height: 210px;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    box-shadow: 1px 1px 5px #1313133b;
}

.top_menu_moblie .menu_mobile_2 {
    background-image: url(../images/m2.jpg);
    background-size: cover;
    opacity: .5;
    width: 95%;
    height: 100px;
    margin: 0 auto 10px;
    cursor: pointer;
    transition: .5s;
    box-shadow: 1px 1px 5px #1313133b;
}

.top_menu_moblie .menu_mobile_3 {
    background-image: url(../images/m3.jpg);
    background-size: cover;
    opacity: .5;
    width: 95%;
    height: 100px;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    box-shadow: 1px 1px 5px #1313133b;
}

.top_menu_moblie .menu_mobile_1:hover, .top_menu_moblie .menu_mobile_2:hover, .top_menu_moblie .menu_mobile_3:hover {
    opacity: 1;
}

.top_menu_moblie .top_menu_relative {
    position: relative;
}

.top_menu_moblie .top_menu_relative p {
    font-weight: 900;
    position: absolute;
    text-align: center;
    left: 27%;
    top: 31%;
    font-size: 1.2em;
    cursor: pointer;
}

.top_menu_moblie .top_menu_relative:hover p {
    color: white;
    cursor: pointer;
}

.top_menu_moblie .top_menu_sub p {
    top: 10%;
    font-size: 1.2em;
    text-align: center;
}

.social_contact a {
    color: black;
    text-decoration: none;
    opacity: 1;
    transition: .7s;
}

/* 頁尾 */

.footer {
    background: #4a4a4a;
    text-align: center;
    line-height: 50px;
    color: white
}

.menu_bottom ul {
    width: 80%;
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.menu_bottom a {
    color: #575757;
    text-decoration: none;
    transition: .5s;
}

.menu_bottom a:hover {
    color: black;
}

.menu_bottom ul li i {
    opacity: 0;
    transition: all 0.2s ease-out 0s;
    width: 30px;
}

.menu_bottom ul li:hover i {
    opacity: 1;
    right: 240px;
}

@media screen and (max-width:768px) {
    .menu_bottom {
        display: none;
    }
}

/* contact */

.contact_layout {
    margin-top: 20px;
}

.contact-list {
    margin: auto;
}

.contact-list li {
    list-style-type: none;
    font-size: 1.2em;
    line-height: 30px;
}

/* index */

.main_content {
    display: flex;
    margin: 10px 0 0;
}

.main_half {
    width: 50%;
}

.main_third {
    width: 33.3%;
}

.main_third_one {
    width: 33.3%;
    padding: 0 10px;
}

.main_third_two {
    width: 66.6%;
    padding: 0 10px;
}

@media screen and (max-width:768px) {
    .main_content {
        display: block;
    }
    .main_half, .main_third, .main_third_one, .main_third_two {
        width: 100%;
    }
}

.layout {
    width: 100%;
    padding: 20px;
    margin: 30px 0;
}

.layout_border {
    border: 1px solid #aaaaaa;
    border-radius: 10px;
}

/* news */

.news {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.news_img_inside {
    width: 30%;
    height: 299px;
    background-size: cover;
    margin: 10px;
    box-shadow: 1px 2px 3px gray;
}

.news>.news_item {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 100%;
    box-shadow: 1px 1px 5px #1313133b;
}

.news>.news_item>.content {
    width: 70%;
    margin: 10px;
}

@media screen and (max-width:768px) {
    .news>.news_item {
        display: block;
    }
    .news>.news_item>.content, .news_img_inside {
        width: 100%;
        margin: 0px;
        margin-bottom: 10px
    }
}

.news .news_item .cover_1 {
    background-image: url(../images/news_1.jpg)
}

.news .news_item .cover_2 {
    background-image: url(../images/news_2.jpg)
}

.news .news_item .cover_3 {
    background-image: url(../images/news_3.jpg)
}

.news .news_item .cover_4 {
    background-image: url(../images/news_4.jpg)
}

.news .news_item .cover_5 {
    background-image: url(../images/news_5.jpg)
}

.news .news_item figcaption {
    font-size: 1.2em;
    color: #967878;
}

.btn_area {
    width: 100%;
    margin: 10px 0;
    text-align: right;
}

.btn_area .btn_more {
    width: 100px;
    line-height: 30px;
    background-size: 200%;
    background-color: #ffffff00;
    transition: .3s;
    border: 1px solid black;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}

.btn_area a .btn_more:hover {
    box-shadow: inset 100px 0 0 0 #131212;
    color: white;
}

/* products */

.goods {
    display: flex;
    flex-wrap: wrap;
}

.goods .goods_item {
    width: 30%;
    margin: 1.65%;
    align-items: center;
    box-shadow: 1px 1px 5px #1313133b;
}

.goods .goods_item figcaption {
    text-align: center;
    cursor: pointer;
    line-height: 30px;
}

.goods .goods_item .goods_img img {
    width: 100%;
}

@media screen and (max-width:1059px) {
    .goods .goods_item {
        width: 49%;
        margin: .5%;
        margin-bottom: 5%;
    }
}

@media screen and (max-width:768px) {
    .goods .goods_item {
        width: 100%;
    }
}

.go_shop {
    height: 100%;
    display: flex;
    transition: .5s;
}

.go_shop span {
    align-content: center;
    margin: auto;
    padding: 40px 60px;
}

.go_shop span p {
    white-space: nowrap;
}

@media screen and (max-width:768px) {
    .go_shop span {
        padding: 40px 0px;
    }
}

/* about */

.about {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 900px;
}

.title {
    font-size: 60px;
    color: #000;
    line-height: 100px;
    position: absolute;
    left: -650px;
    z-index: 1;
}

#box1 {
    height: 77px;
    width: 120px;
    position: absolute;
    top: 3%;
    margin-left: 10px;
    transform: translateY(-50%);
    overflow: hidden;
}

#box2 {
    height: 77px;
    width: 270px;
    position: absolute;
    top: 3%;
    margin-left: 180px;
    transform: translateY(-50%);
    overflow: hidden;
}

#box1 .colorLayer {
    height: 77px;
    width: 120px;
    background: #000;
    position: absolute;
    left: -120px;
    z-index: 9;
}

#box2 .colorLayer {
    height: 77px;
    width: 270px;
    background-color: #fff;
    position: absolute;
    left: -270px;
    z-index: 9;
}

/*----------------MIUMIU-----------------*/

#box3 {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 39%;
    transform: translateY(-50%);
    overflow: hidden;
}

.colorLayer2 {
    height: 500px;
    width: 400px;
    background-color: #000;
    position: absolute;
    left: -400px;
    z-index: 9;
}

#box3 .image img {
    width: 65%;
    position: absolute;
    left: -400px;
    z-index: 1;
}

#box4 {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 34%;
    margin-left: 300px;
    transform: translateY(-50%);
    overflow: hidden;
}

.colorLayer3 {
    height: 400px;
    width: 400px;
    background-color: #fff;
    position: absolute;
    left: -400px;
    z-index: 9;
}

#box4 .info {
    font-size: 22px;
    line-height: 45px;
    color: #2D2D2D;
    padding: 40px;
    text-align: justify;
    position: absolute;
    left: -400px;
    z-index: 1;
}

/*----------------ONON-----------------*/

#box5 {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 82%;
    right: 20%;
    transform: translateY(-50%);
    overflow: hidden;
}

.colorLayer4 {
    height: 400px;
    width: 400px;
    background-color: #000;
    position: absolute;
    left: -400px;
    z-index: 9;
}

#box5 .info {
    font-size: 22px;
    line-height: 45px;
    color: #2D2D2D;
    padding: 40px;
    text-align: justify;
    position: absolute;
    left: -400px;
    z-index: 1;
}

#box6 {
    height: 400px;
    width: 400px;
    position: absolute;
    top: 83%;
    left: 70%;
    transform: translateY(-50%);
    overflow: hidden;
}

.colorLayer5 {
    height: 400px;
    width: 400px;
    background-color: #fff;
    position: absolute;
    left: -400px;
    z-index: 9;
}

#box6 .image img {
    width: 70%;
    position: absolute;
    left: -400px;
    z-index: 1;
}

/* contact */

.section {
    position: relative;
    width: 900px;
    max-width: 80%;
    border: 2px solid #333;
    border-top: none;
    text-align: center;
    margin: 70px auto 80px;
}

@media screen and (max-width:768px) {
    .section {
        max-width: 100%;
    }
}

.section h1 {
    position: relative;
    margin-top: -14px;
    display: inline-block;
    letter-spacing: 4px;
}

.section .top-border {
    position: absolute;
    height: 2px;
    width: 24%;
    background-color: #333;
}

.section .right {
    right: 0;
}

.section .left {
    left: 0;
}

.wrap {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.box {
    font-size: 1.2em;
    line-height: 1.6em;
    text-align: center;
}

/*screen resolutions lower than 620px*/

@media all and (max-width: 1180px) {
    .wrap {
        width: 100%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }
}

#forms h2 {
    margin-bottom: 50px;
    position: relative;
    display: block;
}

#forms p a {
    color: #00B16A;
    text-decoration: none;
}

#forms .wrap {
    text-align: center;
    width: 100%;
}

#forms .box {
    text-align: center;
    margin: 5% 0 0 0;
    width: 100%;
}

.contact-form {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
}

.contact-form .input-block {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #aaaaaa;
    margin: 0;
    position: relative;
    margin-bottom: 20px;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.contact-form .input-block.focus {}

.contact-form .input-block.textarea {
    height: auto;
}

.contact-form .input-block.textarea .form-control {
    height: auto;
    resize: none;
}

.contact-form .input-block label {
    position: absolute;
    left: 10px;
    top: 25px;
    display: block;
    margin: 0;
    font-weight: 400;
    z-index: 1;
    color: #aaa;
    font-size: 18px;
    line-height: 10px;
}

.contact-form .input-block .form-control {
    background-color: transparent;
    margin: 0;
    outline: none;
    border: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: auto;
    padding: 30px 10px;
    width: 100%;
    position: relative;
    z-index: 2;
    font-size: 18px;
    color: #333;
}

.contact-form .input-block .form-control:focus label {
    top: 0;
}

.contact-form .square-button {
    background-color: #00B16A;
    color: #fff;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 0 60px;
    height: 60px;
    cursor: pointer;
    outline: none;
    border: none;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.contact-form .square-button:hover, .contact-form .square-button:focus {
    background-color: #66CC99;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    transform: translateY(-4px);
}

/*----page styles---*/

.contact-wrap {
    padding: 15px;
    /* background: #ecf0f1; */
}

.contact-wrap h1 {
    background-color: white;
    color: #ff7c62;
    padding: 40px;
    margin: 0 0 50px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}

.contact-wrap h1 small {
    font-size: 18px;
    display: block;
    text-transform: none;
    font-weight: 300;
    margin-top: 10px;
    color: #ff7c62;
}

.contact_bottom {
    display: flex;
    height: 105px;
    width: 100%;
    align-items: flex-end;
    position: relative;
}

.ct_bt_left {
    width: 80%;
}

.ct_bt_left ul {
    text-align: left;
}

.ct_bt_left ul li {
    width: 200px;
}

.ct_bt_left_social {
    display: flex;
    list-style-type: none;
}

.ct_bt_right {
    width: 20%;
}

.ct_bt_right span {
    position: relative;
    bottom: -26px;
    right: 50%;
}

.contact_bottom img {
    height: 200px;
    /* margin-bottom: -30px; */
}

@media (max-width: 685px) {
    .top-border {
        width: 18%;
    }
}

.section p {
    width: 72%;
    margin: 20px auto 20px auto;
    line-height: 30px;
    text-align: justify;
}

.section a {
    outline: 0;
    display: inline-block;
    /* padding: 20px; */
    /* margin-bottom: 40px; */
    /* width: 440px; */
    max-width: 80%;
    /* background-color: #333; */
    color: #fff;
    font-size: 22px;
    letter-spacing: 3px;
    transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}

.section a:hover {
    background-color: #1D222D;
}

.section a:link, .section a:visited, .section a:link:hover, .section a:visited:hover {
    text-decoration: none;
    color: #fff;
}

@media (max-width: 500px) {
    .top-border {
        display: none;
    }
    .section {
        border-top: 2px solid #333;
    }
    .section h1 {
        margin: 20px 6px;
    }
}

@media (min-width: 768px) {
    .contact-wrap {
        margin: auto;
    }
}

@media (max-width: 868px) {
    .section h1 {
        font-size: 1.6em;
    }
    .section .top-border {
        width: 11%;
    }
    .contact-form {
        width: 100%;
        padding: 40px;
    }
    .contact_bottom {
        flex-direction: column;
        position: relative;
        align-items: center;
        /* padding-left: 20px; */
        height: auto;
    }
    .ct_bt_left {
        width: 100%;
    }
    .ct_bt_right {
        width: 100%;
    }
    .ct_bt_right span {
        right: auto;
    }
    .ct_bt_left_social {
        display: block;
    }
}

@media (max-width: 568px) {
    .contact-form {
        padding: 10px;
    }
}

/* news_page */

.page_title {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

@media screen and (max-width:768px) {
    .page_title {
        display: block;
    }
    .page_title h3:nth-child(1) {
        text-align: left;
    }
}

.page_subtitle {
    text-align: center;
    font-size: 1.6em;
    border-top: 1px dashed #aaaaaa;
    padding-top: 50px;
}

.page_layout {
    width: 100%;
    display: flex;
    padding: 5% 0;
    border-top: 4px double #aaaaaa;
}

.page_text {
    width: 60%;
}

.page_img {
    width: 40%;
}

@media screen and (max-width:768px) {
    .page_layout {
        display: block;
    }
    .page_text {
        width: 100%;
    }
    .page_img {
        width: 100%;
    }
}

.page_img img {
    width: 100%;
    box-shadow: 1px 2px 3px gray;
}

.page_video {
    width: 100%;
    padding-bottom: 5%;
}

.page_video iframe {
    width: 100%;
    box-shadow: 1px 2px 3px gray;
}

.page_relation {
    display: flex;
    flex-flow: row wrap;
}

.page_relation figure {
    flex: 0 0 24%;
    margin: 10px auto;
}

.page_relation figure img {
    width: 220px;
    box-shadow: 1px 2px 3px gray;
    cursor: pointer;
    opacity: .7;
    transition: .7s
}

.page_relation figure img:hover {
    opacity: 1;
    background: #00000000 !important;
}

.page_relation figure:hover {
    opacity: 1;
    background: #00000000 !important;
}
